body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #40514e;
}

h1 {
  color: #66bfbf;
  font-size: 5.625rem;
  line-height: 1;
  margin-top: 50px;
  margin-bottom: 5px;
  font-family: "Satisfy", cursive;
}

h2 {
  color: #66bfbf;
  font-size: 2.5rem;
  font-family: "Caveat", cursive;
  font-weight: normal;
  margin-top: 5px;
  margin: 35px 0;
}

h3 {
  color: #11999e;
}

.introducing-myself {
  width: 30%;
  margin: auto;
}

hr {
  border: 0;
  color: lightgray;
  border-top: dotted 10px;
  margin: 100px auto;
  width: 5%;
}

p {
  font-family: "Caveat", cursive;
  font-size: 30px;
  line-height: 2;
}

.avatar-img {
  width: 200px;
  margin-top: 50px;
}

.bold {
  font-weight: bold;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.bottom-container {
  padding: 50px 0;
  margin-top: 50px;
  background-color: #66bfbf;
}

.buldak:hover {
  color: red;
}

.contact-me {
  display: inline-block;
}

.copyright {
  color: white;
  margin-bottom: 0;
  padding-bottom: ;
}

.chilli-img {
  float: right;
  margin-left: 30px;
  width: 20%;
}

.coder-img {
  float: left;
  margin-right: 30px;
  width: 25%;
}

.contact-me-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: white;
  border-radius: 8px;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e)
  
  margin-bottom: 100px;
  padding: 7px;
}

.contact-me-btn:hover {
  background: #2bc4ad;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.emphasized {
  font-size: 2rem;
  position: relative;
  top: 7px;
}

.footer-link {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
  text-decoration: none;
  padding: 0 20px;
}

.footer-link:hover {
    color: #eaf6f6;
}

.middle-container {
}

.skill-row {
  line-height: 1.3;
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

.underlined {
  text-decoration: underline;
}

/* h1:hover {
    color:red; 
}    
*/
